


/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #fff;

  margin: 0;
  height: 100vh;
  width: 100%;

  overflow-x: hidden;
}

#app {
  position: absolute;
  width: 100%;
  height: max-content;
}

.top-grad {
  position: absolute;
  right: 0;
}

#app .studs {
  margin: 35px;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: black;
}

div.main {
  margin: 10vh 35px 35px 10vh;
  text-align: left;
  color: black;
}

.main h1 {
  font-size: 48px;
  font-weight: 500;
  font-weight: 600;
  letter-spacing: -2px;
}

h1 .slow {
  background: linear-gradient(90deg, rgb(20, 100, 69), rgb(192, 107, 107));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main h2 {
  margin: 0 20px 20px;
}

.sv::after {
  content: "©";
  font-size: 0.7rem;
  position: absolute;
  margin: 0 0 0 0px;
}

.main a {
  color: rgb(0, 0, 0);
  transition: color 0.2s ease;
}

.main a:hover {
  color: rgb(119, 119, 119);
}

.auth-form {
  display: grid;
  width: 300px;
  gap: 10px;
  margin: 50px auto 50px 10vh;
}

#email {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.15);
}

#password {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.15);
}

.error {
  outline: 1px solid red;
}

#login {
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 10px;

  color: #000;

  border-radius: 4px;
  background: white;
  border: 1px solid #979797;
  box-shadow: rgba(15, 15, 15, 0.15) 0px 1px 2px;

  transition: box-shadow 0.3s ease, border 0.3s ease, background 0.3s ease;
}

#login:not(.loading):hover {
  background: rgb(245, 245, 245);
  border: 1px solid #333;
  box-shadow: rgba(15, 15, 15, 0.35) 0px 1px 2px;
}

#login:not(.loading):active {
  background: rgb(228, 228, 228);
}

#login.loading {
  pointer-events: none;
  user-select: none;
  cursor: default;
  box-shadow: none;
  background: #979797;
  color: white;
}

#signInAs {
  margin: 0 0 10px 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
  background: #2a354e;
  border: 1px solid #0e0f1a;
  box-shadow: rgba(20, 48, 61, 0.897) 0px 2px 7px;
  transition: box-shadow 0.3s ease, border 0.3s ease, background 0.3s ease;
}

#signInAs:hover {
  background: #404c67;
  box-shadow: rgba(20, 48, 61, 0.897) 0px 2px 7px;
}

#signInAs:active {
  background: #838a9a;
}

#signInAs.hide {
  display: none;
}

#signInAs.loading {
  pointer-events: none;
  user-select: none;
  cursor: default;
  box-shadow: none;
  background: #838a9a;
  border-color: #838a9a;
}

.privacy-wrap {
  margin: 0 0px 0px 10vh;
  text-align: left;
  width: 50%;
  max-width: 600px;
  line-height: 1.5em;
  font-size: 16px;
}
.privacy-wrap .question {
  font-size: 14px;
  font-weight: 600;
  color: #141414;
}
.privacy-wrap .content {
  font-size: 14px;
  color: #454545;
}


.about {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 35px 50px 35px 35px;
  text-decoration: underline;
  text-decoration-color: rgb(196, 196, 196);

  color: rgb(87, 87, 87);

  transition: color 0.2s linear, text-decoration-color 0.2s linear;
}

.about:hover {
  color: #000;
}

.about:active {
  color: rgb(66, 66, 66);
}

section.why {
  position: relative;
  margin: 0px 0 0 0;
  width: 100%;
  top: 50px;
  display: grid;
}

section.why h2 {
  font-size: 1.8em;
  font-weight: 500;

  text-align: left;
  margin: 45px auto;
}

section.why .explain {
  padding: 0px 0 20px 0;
  margin: 0 auto;
  text-align: left;
  line-height: 1.4em;
  max-width: 800px;
  width: 84vw;
}

.explain-2 {
  padding: 30px 0 20px 0;
  margin: 0 auto;
  text-align: left;
  line-height: 1.4em;
  max-width: 800px;
  width: 84vw;
}

.e-list {
  padding: 0 0 50px 0;
  margin: 0 auto;
}

section.why h2.listen {
  margin: 100px auto 45px auto;
  text-align: left;
}

.explain-3 {
  padding: 0px 0 0px 0;
  margin: 0 auto;
  text-align: left;
  line-height: 1.4em;
  max-width: 800px;
  width: 84vw;
}
.explain-3.last {
  padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
  #app .studs {
    margin: 35px 8vw;
    font-size: 1.2em;
  }

  div.main {
    margin: 8vh 8vw 35px 8vw;
  }

  .main h1 {
    font-size: 38px;
  }

  .auth-form {
    margin: 50px auto 50px 8vw;
  }

  section.why h2.listen {
    margin: 20px 8vw 25px 8vw;
    font-size: 1.4em;
  }

  section.why h2 {
    margin: 5px 8vw 25px;
    font-size: 1.4em;
  }

  section.why p.explain,
  p.explain-2,
  p.explain-3,
  .e-list,
  .main>span {
    font-size: 14px;
    line-height: 1.6em;
  }

  .e-list {
    margin: 0 20vw;
  }

  #email {
    font-size: 16px;
  }

  #password {
    font-size: 16px;
  }

  .privacy-wrap {
    margin: 0 8vw 0px 8vw;
    width: auto;
  }
}




#app.hide {
  display: none;
}

#dashboard.hide {
  display: none;
}

#dashboard .main-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "studs top-bar"
    "main-content main-content";

  height: auto;
  min-height: 100vh;
  width: 100%;

  overflow: hidden;
}



.main-grid > div.studs {
  cursor: pointer;

  display: grid;
  background: white;
  width: auto;
  height: 100%;

  border-bottom: 2px solid #EBEBEB;
  box-sizing: border-box;

  transition: box-shadow 0.2s linear, color 0.2s linear, background 0.2s linear;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(27, 27, 27);
  padding: 21.5px 25px;
  box-shadow: inset 0px 2px 0px rgb(204, 204, 204), inset -2px 0px 0px #EBEBEB;
}

.main-grid > div.studs.active {
  color: black;
  background: #f7f7f7;
  box-shadow: inset 0px 2px 0px rgb(75 75 75);
}

.main-grid > div.studs:active {
  background: #f7f7f7;
}

.main-grid > div.studs:hover {
  color: #333;
  box-shadow: inset 0px 2px 0px rgb(75 75 75);
}

.top-bar-select-wrapper {
  border-top: 2px solid rgb(204, 204, 204);
  border-bottom: 2px solid #EBEBEB;

  display: grid;
}
.top-bar {
  font-size: 13px;
  font-weight: 600;
  color: rgb(27, 27, 27);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: inherit;

  cursor: pointer;
  border: none;

  border-radius: 0px;

  border-right: 16px solid transparent;

  background: white;

  text-indent: 10px;
  padding: 0 0 0 0px;
  margin: 0px 0 0 0;
}
.top-bar:focus-visible {
  outline: none;
}
.top-bar-select-wrapper:hover, .top-bar-select-wrapper:focus {
  border-top-color: rgb(75 75 75);
  outline: none;
}

.main-content {
  grid-area: main-content;
  display: none;

  overflow-y: auto;
  height: min-content;
}
[view="dashboard"] .dashboard {
  display: grid;

}

div.little-grid {
  display: grid;
  z-index: 1;
  height: min-content;
  width: auto;

  margin: 0px 0px 0px 0px;
  padding: 1px;

  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.strip-button-styles {
  border: none;
  font-family: inherit;
  appearance: none;
  text-align: unset;

  background: none;
	color: inherit;
	border: none;
	padding: 0;
  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  -webkit-appearance: none;
  border-radius: 0;
}
.little-course-card {
  cursor: pointer;
  padding: 28px;
  width: auto;
  display: grid;

  grid-template-rows: min-content 1fr;

  background: rgb(245, 245, 245);
  outline: 1px solid rgba(228, 228, 228, 1);
  transition: background 0.2s linear, outline 0.2s linear;
}

.little-course-card:hover,
 .little-course-card:focus {
  background: rgb(255, 255, 255);
  outline: 1px solid black;
}
.little-course-card:active {
  background: rgb(245, 245, 245);
}

.little-course-card .course-info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr min-content;
  column-gap: 10px;
}

.little-course-card .course-period {
  font-size: 15px;
  color: #6f6f6f;
  margin: auto 0 auto auto;
  white-space: nowrap;
}

.little-course-card .course-name {
  white-space: nowrap;
  max-width: 99%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
}

.little-course-card .grade {
  color: black;
  font-weight: 600;
  font-size: 35px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
  margin: 10px 0 0 0;
}

.little-course-card .grade-raw {
  padding: 0 0 0 5px;
  color: #6f6f6f;
}

.NA .grade .grade-raw {
  display: none;
}

.NA .grade {
  color: #888;
}

@media screen and (max-width: 600px) {
  .little-course-card .course-name, 
  .little-course-card .course-period {
    font-size: 13px;
  }
  .little-course-card .grade, .gpa-header .title  {
    font-size: 28px;
  }
  .little-course-card {
    padding: 23px;
  }
  div.little-grid {
    padding: 0px;
  }
}

.main-card {
  margin: 0px auto 20px auto;
  padding: 20px;
  background: rgb(245, 245, 245);
  border-top: 2px solid rgba(228, 228, 228, 1);

  height: 380px;
  width: calc(100% - 40px);
  max-width: 1920px;

  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}

.gpa-header {
  font-size: 35px;
  font-weight: 600;
  color: rgb(111 111 111);

  letter-spacing: 1px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr;
}
@media screen and (max-width: 600px) {
  .gpa-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }
  .gpa-header .c-gpa-view-input {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .c-gpa-view-input #gpa-view {
    width: auto;
  }
}

.gpa-value {
  font-weight: 600;
  letter-spacing: 0px;
  color: black;
  margin: 0 0 0 0px;
}
.c-gpa-view-input {
  margin: auto 0 0 auto;
  height: 100%;

  display: grid;
}
#gpa-view {
  cursor: pointer;
  margin: 3px 0;
  padding: 0 7px;

  width: 150px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 7px;
  background: rgb(233 233 233);
  color: #222;

  text-indent: 4px;

  font-family: inherit;
}

.graph-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.sub-card {
  margin: 0px 20px;
  padding: 20px 20px 40px 20px;
  background: rgba(245, 245, 245, 0);
}

.latest-label {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.latest-grid {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2px;
}
.latest-assignment {
  cursor: pointer;
  height: 75px;
  background: rgb(245, 245, 245);
  outline: 1px solid rgba(228, 228, 228, 1);
  padding: 0 20px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;

  transition: background 0.2s linear, outline 0.2s linear;
}
.latest-assignment:hover,
.latest-assignment:active {
  background: rgb(255, 255, 255);
  outline: 1px solid black;
}
.as-info {
  display: grid;
  margin: 0;
  padding: 10px 0;
}
.as-due-date {
  color: #6f6f6f;
  font-size: 14px;
}
.as-title {
  margin: auto 0;
  font-size: 15px;

  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.score-box {
  position: relative;
  width: 200px;
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 15px min-content;

  margin: 20px 0 20px 30px;

  background: rgb(228, 228, 228);
  border-radius: 7px;
}
.score-box[ungraded="true"] {
  width: max-content;
}
.score-box[ungraded="true"] {
  background: none;
  grid-template-columns: 1fr;
}
.score-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(214, 214, 214);
  border-radius: inherit;
}
.score, .potential-score, .score-divide {
  z-index: 3;
}
.score {
  margin: auto auto auto 10px;
  font-size: 14px;
}
.score-divide {
  margin: 8.5px auto auto 5px;
  font-size: 14px;
}
.potential-score {
  margin: auto 11px auto auto;
  font-size: 14px;
}
.score-box[ungraded="true"] .score-divide,
.score-box[ungraded="true"] .potential-score {
  display: none;
}
.as-teacher {
  margin: auto 0 auto auto;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
 .latest-assignment {
    grid-template-columns: 1fr 1fr;
 } 
 .as-teacher {
    display: none;
 }
 .sub-card {
    margin: 0;
    padding: 0px 1px;
 }
 .latest-label {
    margin-top: 30px;
    margin-left: 20px;
 }
 .score-box {
  margin: 20px 0 20px auto;
  width: 100px;
 }
}



/* course-grades */
.course-grades {
  display: none;
}
[view="grades"] .course-grades {
  display: grid;
}

.courses-slider-wrapper {
  padding: 10px 0 15px 10px;
  overflow-x: auto;
}
.courses-slider {
  width: max-content;
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
.courses-slider .course-slider {
  width: auto;
}
.course-slider {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 0px;
  height: max-content;
  display: grid;

  outline: 1px solid rgba(228, 228, 228, 1);
  transition: background 0.2s linear, outline 0.2s linear;
}
.course-slider.active, .course-slider:hover, .course-slider:focus {
  outline: 1px solid black;
}
.course-slider:last-child {
  margin-right: 10px;
}
.course-slider .course-name {
  margin: auto;
  padding: 0px 22px;

  max-width: 14ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.large-course-card {
  display: none;
  margin: 10px 0;
}
.large-course-card.active {
  display: grid;
}

.large-course-card .course-info {
  font-size: 30px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  column-gap: 15px;
  font-weight: 500;

  margin: 0 15px;
}
.large-course-card .course-info .course-name {
  color: #222;
}
.large-course-card .course-info .course-period {
  color: #6f6f6f;
}


.large-course-card .grade {
  margin: 7px 15px;
  padding: 5px 10px;
  width: max-content;

  border-radius: 7px;

  background: rgb(240, 240, 240);

  font-weight: 500;
  font-size: 30px;
  color: #222;
}
.large-course-card .grade-raw {
  color: #6f6f6f;
}

.large-course-card .grade-calc {
  margin: 10px 0 0 0;
  padding: 10px 18px 10px 13px;
  display: grid;
  height: 35px;
}
.large-course-card .grade-calc-box {
  display: grid;
  grid-auto-flow: column;

  background: rgb(240, 240, 240);
  border-radius: 7px;
}
.large-course-card .grade-calc-category {
  display: grid;
}
.grade-calc-category:nth-child(1) {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.grade-calc-category:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.grade-calc-category .category-label {
  margin: auto auto;
  font-size: 13px;
}

.large-course-card .category-label {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}
.category-label .label {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0px 0 13px;
}
.category-label .value {
  margin: 0px 10px 0 0;
}

.large-course-card .course-assignments {
  margin: 20px 0 0 0;
}

.large-course-card .course-assignments .assignment {
  cursor: pointer;
  height: 75px;
  background: rgb(245, 245, 245);
  outline: 1px solid rgba(228, 228, 228, 1);
  padding: 0 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 7fr 4fr;
  transition: background 0.2s linear, outline 0.2s linear;
}

.assignment.important {
  box-shadow: inset 6px 0px 0px rgb(11, 51, 59);
}
.assignment.regular {
  box-shadow: inset 6px 0px 0px rgb(134, 158, 163);
} 

.large-course-card .as-info {
  grid-template-columns: max-content 1fr;
  column-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  'title title' 
  'date type';
}
.large-course-card .as-title {
  grid-area: title;
  font-size: 13px;
}
.large-course-card .as-due-date {
  grid-area: date;
  font-size: 13px;
}
.large-course-card .as-category {
  grid-area: type;
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.large-course-card .score-box .score-divide {
  margin: 8.5px auto auto 5px;
}